.largeDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.largeDiv > div {
    padding: 10px;
    margin: 10px;
    width: 45%; /* or any other percentage value */
}
.column  {
    display: flex;
    flex-flow: column wrap;
}
.sectionTitle{
    cursor: pointer;
    color: #b8d9af;
    font-size: 18pt;
}