.optionCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    position: relative;
    height: inherit;
}
.optionCol  h3 {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: inherit;
}
.optionCol div {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: inherit;
}