.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.imgContent {
    position: absolute;
    top: 20%;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgContent > h1 {
    font-size: 3em;
    color: white;
    text-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.content {
    background-color: rgb(188, 186, 186);
    box-shadow: 0px -20px 36px 50px rgb(38 38 38 / 69%);
    position: absolute;
    z-index: 1;
    top: 100%;
}
.content > p {
    margin: 10px;
}
.leftLogo {
    position: relative;
    max-height: 30vh;
    padding: 0;
    left: 20%;
    animation: backController 1s 1 forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
    margin: 0;
    z-index: 5;
}
.rightLogo {
    position: relative;
    max-height: 30vh;
    padding: 0;
    right: 20%;
    animation: spreadController 1s 1 forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
    margin: 0;
    z-index: 5;
}
.middleLogo {
    position: relative;
    max-height: 30vh;
    padding: 0;
    margin: 0;
    z-index: 0;
}
@keyframes spreadController {
    100%{
        transform: translateX(60%);
    }
}
@keyframes backController {
    100%{
        transform: translateX(-68%);
    }  
}
.logoDiv{
    display: flex;
    max-width: min-content;
    padding: 0;
    margin: 0;
}
.logoText {
    z-index: 3;
    position: relative;
    top: -60%;
    font-size: 20pt;
    font-family: 'Audiowide';
    color: white;
}